In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import os, sys

notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.abspath(os.path.join(notebook_dir, os.pardir))

if project_root not in sys.path:
    sys.path.append(project_root)

# Importing our custom scraper and data cleaner.
from src.scraping.mtecresults_scraper import scrape_race_data, clean_race_data

In [9]:
with open('../config/params_tcm2013.yaml', 'r') as f:
    config_params = yaml.safe_load(f)
    
output_file = os.path.join(project_root, config_params['scraping']['output_file'])

# Uncomment for the actual scraping.
#raw_df = scrape_race_data(config_params, output_file) 

raw_df = pd.read_csv(output_file)
raw_df.head()

,runner_id,event,sex,age,residence,split_1_segment_time,split_1_time_of_day,split_1_pace,split_1_overall_place,split_1_division_place,...,split_7_segment_time,split_7_time_of_day,split_7_pace,split_7_overall_place,split_7_division_place,split_7_sex_place,split_7_age_graded_place,split_7_passed_by,gunstart,chipstart
0,1,Marathon,M,28.0,"FOLSOM, CA",16:01,8:16:10,5:10,3/8840,2/1013,...,11:07,10:13:34,5:04,3/8847,2/1014,3/4919,11/8847,0/0,0:00,0:01
1,2,Marathon,M,26.0,"BRIGHTON, MA",16:03,8:16:12,5:10,12/8840,8/1013,...,11:26,10:14:58,5:12,8/8847,6/1014,8/4919,21/8847,0/0,0:00,0:01
2,4,Marathon,M,29.0,"MAMMOTH LAKES, CA",16:01,8:16:10,5:10,6/8840,3/1013,...,10:56,10:13:22,4:58,2/8847,1/1014,2/4919,5/8847,0/0,0:00,0:01
3,5,Marathon,M,30.0,"Flagstaff, AZ",16:01,8:16:09,5:10,5/8840,3/814,...,10:53,10:13:19,4:57,1/8847,1/814,1/4919,4/8847,0/0,0:00,0:00
4,6,Marathon,M,27.0,"ANN ARBOR, MI",16:02,8:16:10,5:10,9/8840,6/1013,...,11:58,10:14:52,5:27,15/8847,11/1014,15/4919,42/8847,0/0,0:00,0:00

In [10]:
output_file_cleaned_abs = os.path.join(project_root, config_params['cleaning']['output_file'])

clean_df = clean_race_data(config_params, raw_df)
clean_df.to_csv(output_file_cleaned_abs)
clean_df.head()

,age,sex,residence,split_1_segment_time,split_1_overall_place,split_1_pace,split_2_segment_time,split_2_overall_place,split_2_pace,split_3_segment_time,...,split_5_segment_time,split_5_overall_place,split_5_pace,split_6_segment_time,split_6_overall_place,split_6_pace,split_7_segment_time,split_7_overall_place,split_7_pace,chipstart
runner_id,,,,,,,,,,,,,,,,,,,,,
1,28.0,M,CA,961,3,310,953,7,307,2104,...,718,5,305,936,2,312,667,3,304,1
2,26.0,M,MA,963,12,310,967,15,311,2127,...,710,2,301,942,5,314,686,8,312,1
4,29.0,M,CA,961,6,310,952,1,307,2093,...,717,4,304,936,3,312,656,2,298,1
5,30.0,M,AZ,961,5,310,954,10,307,2104,...,719,6,305,935,1,312,653,1,297,0
6,27.0,M,MI,962,9,310,954,8,307,2107,...,707,1,300,964,8,322,718,15,327,0