In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import os, sys

notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.abspath(os.path.join(notebook_dir, os.pardir))

if project_root not in sys.path:
    sys.path.append(project_root)

# Importing our custom scraper and data cleaner.
from src.scraping.mtecresults_scraper import scrape_race_data, clean_race_data

In [2]:
with open('../config/params_tcm2024.yaml', 'r') as f:
    config_params = yaml.safe_load(f)
    
output_file = os.path.join(project_root, config_params['scraping']['output_file'])

# Uncomment for the actual scraping.
#raw_df = scrape_race_data(config_params, output_file) 

raw_df = pd.read_csv(output_file)
raw_df.head()

,runner_id,event,age,sex,residence,split_1_segment_time,split_1_time_of_day,split_1_pace,split_1_overall_place,split_1_division_place,...,split_10_segment_time,split_10_time_of_day,split_10_pace,split_10_overall_place,split_10_division_place,split_10_sex_place,split_10_age_graded_place,split_10_passed_by,chipstart,gunstart
0,1001,Marathon,58.0,F,"Dallas, TX",30:34,8:35:56,9:51,4088/6763,31/81,...,14:01,12:43:37,10:25,3894/6751,26/80,1373/2563,511/6751,43/48,5:22,0:00
1,1013,Marathon,37.0,M,"Victor, ID",23:56,8:24:26,7:43,776/6763,108/616,...,15:05,11:51:19,11:13,4764/6751,449/616,2981/4171,5440/6751,3/196,0:29,0:00
2,1029,Marathon,36.0,F,"Muskegon, MI",25:20,8:26:37,8:10,1362/6763,52/370,...,10:56,11:40:13,8:07,1242/6751,44/370,302/2563,757/6751,27/20,1:16,0:00
3,1030,Marathon,25.0,F,"Baxter, MN",27:54,8:32:58,8:59,2515/6763,134/562,...,13:44,12:19:26,10:13,2932/6751,266/561,980/2563,2857/6751,17/61,5:04,0:00
4,1038,Marathon,49.0,M,"Minneapolis, MN",36:02,8:47:43,11:36,6245/6763,297/319,...,16:35,13:21:51,12:20,3492/6751,153/318,2276/4171,3497/6751,22/61,11:40,0:00

In [3]:
output_file_cleaned_abs = os.path.join(project_root, config_params['cleaning']['output_file'])

clean_df = clean_race_data(config_params, raw_df)
clean_df.to_csv(output_file_cleaned_abs)
clean_df.head()

,age,sex,residence,split_1_segment_time,split_1_overall_place,split_1_pace,split_2_segment_time,split_2_overall_place,split_2_pace,split_3_segment_time,...,split_8_segment_time,split_8_overall_place,split_8_pace,split_9_segment_time,split_9_overall_place,split_9_pace,split_10_segment_time,split_10_overall_place,split_10_pace,chipstart
runner_id,,,,,,,,,,,,,,,,,,,,,
1001,58.0,F,TX,1834,4088,591,1804,4026,581,1868,...,2152,4177,693,2202,4076,709,841,3894,625,322
1013,37.0,M,ID,1436,776,463,1406,708,453,1439,...,1969,4013,634,2008,3042,647,905,4764,673,29
1029,36.0,F,MI,1520,1362,490,1492,1259,480,1519,...,1661,1585,535,1640,1181,528,656,1242,487,76
1030,25.0,F,MN,1674,2515,539,1681,2893,541,1718,...,2090,4163,673,2046,3939,659,824,2932,613,304
1038,49.0,M,MN,2162,6245,696,1952,5274,629,2010,...,2518,5779,811,2568,5569,827,995,3492,740,700